<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414775154733-j2rhjt0vlee9unrkq8mds0l21svh8993.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414775154733-j2rhjt0vlee9unrkq8mds0l21svh8993</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ftTxDw2JpqZ9B4tbsnfLkhDJ2RZRVGw</string>
	<key>GCM_SENDER_ID</key>
	<string>414775154733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forbeddashboard</string>
	<key>PROJECT_ID</key>
	<string>forbed-91065</string>
	<key>STORAGE_BUCKET</key>
	<string>forbed-91065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414775154733:ios:dd52e50cae61951bc6c0a4</string>
</dict>
</plist>